In [9]:
#list
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [3]:
#append vs extend
#to append a list is to add a list in the end of the current list
#to extend a list is to concatenate it with the current list 
#to a.extend([1,2]) is equal to a+=[1,2]
a.append([1,2])
print(a)

[1, 2, 3, 4, [1, 2]]

In [5]:
a.extend([1,2])
print(a)

[1, 2, 3, 4, 1, 2]

In [8]:
a+=[1,2]
a

[1, 2, 3, 4, 1, 2]

In [10]:
#index

a=['a','b','d']
a.index('a')

0

In [11]:
#it only returns the index of the first occurrence
a=['a','b','d','a']
a.index('a')

0

In [12]:
a=[1,2,3,4]
a.index(3)

2

In [13]:
a=[1,2,3,4]
a.index('a')

ValueError: 'a' is not in list

In [16]:
#if there are duplicates, you could set a start point
a=[1,2,3,4,1,2,6]
a.index(2,3) #return the position of 2 after the index of 3

5

In [22]:
#insert 
#a.insert(idx,i)
#insert i into the position idx
a=[1,2,3,4]
a.insert(2,'a')
a

[1, 2, 'a', 3, 4]

In [24]:
#remove
#a.remove(x)
#remove the first occurence of x
a=[1,2,1,3]
a.remove(1)
a

[2, 1, 3]

In [25]:
#pop
#a.pop() remove the last one
#a.pop(i) remove the item at i position
a=[1,2,3,4]
a.pop()
a

[1, 2, 3]

In [26]:
a.pop(0)
a

[2, 3]

In [27]:
#count
a=[1,2,1,1]
a.count(1)

3

In [28]:
a.count(5)

0

In [33]:
#sort
a=['aa','bk','c','b']
a.sort()
a

['aa', 'b', 'bk', 'c']

In [36]:
a=[4,3,2,1]
a.sort()
a

[1, 2, 3, 4]

In [38]:
#reverse
a=[3,1,2,4]
a.reverse()
a

[4, 2, 1, 3]

In [39]:
#list comprehension
#return the list of even numbers less than 10
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [40]:
str1='tom brady is not the goat'
list(str1)

['t',
 'o',
 'm',
 ' ',
 'b',
 'r',
 'a',
 'd',
 'y',
 ' ',
 'i',
 's',
 ' ',
 'n',
 'o',
 't',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'g',
 'o',
 'a',
 't']

In [48]:
#tuple is not mutable
#if you want to create a tuple whose length is 1, you must have a comma
t=(1)
type(t)

int

In [49]:
t=(1,)
type(t)

tuple

In [50]:
t*5

(1, 1, 1, 1, 1)

In [63]:
#concatenate
t1=(1,2)
t2=(3,4)
t1+t2

(1, 2, 3, 4)

In [64]:
t1[0]

1

In [65]:
t1.count(1)

1

In [66]:
str(t1)

'(1, 2)'

In [89]:
#dict
d={1:[1,2,3],'second':'nba'}

In [71]:
d.keys()

dict_keys([1, 'second'])

In [72]:
d.values()

dict_values([[1, 2, 3], 'nba'])

In [73]:
d[1]

[1, 2, 3]

In [74]:
d['second']

'nba'

In [76]:
d['second']='nfl'
d

{1: [1, 2, 3], 'second': 'nfl'}

In [78]:
d.items()

dict_items([(1, [1, 2, 3]), ('second', 'nfl')])

In [79]:
for i in d.keys():
    print(i)

1
second

In [80]:
for k,v in d.items():
    print(k,v)

1 [1, 2, 3]
second nfl

In [82]:
1 in d

True

In [85]:
'nfl' in d

False

In [86]:
#d.get(key) get the value of the key
d.get(1)

[1, 2, 3]

In [87]:
#delet the key-value pair based on the key
d.pop(1)

[1, 2, 3]

In [88]:
d

{'second': 'nfl'}

In [90]:
del d[1]

In [91]:
d

{'second': 'nba'}

In [93]:
d1={'a':1}
d2={"a":2}
d1.update(d2)
d1

{'a': 2}

In [95]:
d1={'a':1}
d2={"a":2}
d2.update(d1)
d2

{'a': 1}

In [96]:
d1={'a':1}
d2={"b":2}
d1.update(d2)
d1

{'a': 1, 'b': 2}

In [99]:
[x for x in d1.values()]

[1, 2]

In [100]:
[x for x in d1.keys()]

['a', 'b']

In [102]:
#set no duplicates and ordered
set([3,3,4,4,1,2])

{1, 2, 3, 4}

In [103]:
a=set([1,2,3,4])
b=set([3,4,5,6])
a|b

{1, 2, 3, 4, 5, 6}

In [104]:
a&b

{3, 4}

In [105]:
c=a|b
a<c

True

In [106]:
a.issubset(c)

True

In [108]:
c.issuperset(a)

True

In [109]:
a^b

{1, 2, 5, 6}

In [110]:
b=set([3,4,5,6,7])
a^b

{1, 2, 5, 6, 7}

In [16]:
#string
#strip: remove the white space in the beginning
#does not change the original string
#strings are immutable
a=' Hello World'
print(a.strip())
a

Hello World

' Hello World'

In [17]:
print(a.strip().lower())
print(a.strip().upper())
a

hello world
HELLO WORLD

' Hello World'

In [13]:
a='hello world'
print(a.title())
a

Hello World

'hello world'

In [14]:
#replace
print(a.replace('h','y'))
a

yello world

'hello world'

In [18]:
#replace all occurences
print(a.replace('o','a'))

 Hella Warld

In [23]:
#split
a='Hello, World'
print(a.replace(' ','').split(','))
a.split(',')

['Hello', 'World']

['Hello', ' World']

In [29]:
#join
a=['Aaron', 'Rodgers','is','the','Goat']
' '.join(a)

'Aaron Rodgers is the Goat'

In [1]:
'abc'.split('b')

['a', 'c']

In [5]:
pip install pythonds

Collecting pythonds
  Downloading https://files.pythonhosted.org/packages/d5/23/3a6d8983605ba23ca972754a0ac81d1da3c9ea0a6f01b5b73d2bde3ac9fb/pythonds-1.2.1-py3-none-any.whl
Installing collected packages: pythonds
Successfully installed pythonds-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
from pythonds.basic import Stack
a=Stack()

In [10]:
class stack(object):
    
    def __init__(self):
        self.items=[]
    
    def isEmpty(self):
        return self.items==[]
    
    def push(self,item):
        self.items.append(item)
        
    def pop(self):
        return self.items.pop()
    
    def peek(self):
        return self.items[len(self.items)-1]
    
    def size(self):
        return len(self.items)

In [11]:
s=stack()

In [12]:
s.isEmpty()

True

In [13]:
s.push(1)
s.push(2)
s.push(3)
s.peek()

3

In [14]:
s.pop()
s.peek()

2

In [15]:
s.size()

2

In [16]:
class queue(object):
    
    def __init__(self):
        self.items=[]
        
    def isEmpty(self):
        return self.items == []
    
    def enqueue(self,item):
        self.items.insert(0,item)
        
    def dequeue(self):
        return self.items.pop()
    
    def size(self):
        return len(self.items)

In [17]:
q=queue()
q.enqueue(1)
q.enqueue('two')
q.enqueue(True)
q.size()

3

In [19]:
q.dequeue()==1

True

In [20]:
q.dequeue()
q.dequeue()
q.isEmpty()

True

In [23]:
class deque(object): #the end of the list is front
    def __init__(self):
        self.items=[]
    
    def addFront(self,item):
        self.items.append(item)
        
    def addRear(self,item):
        self.items.insert(0,item)
        
    def removeFront(self):
        return self.items.pop()
    
    def removeRear(self):
        return self.items.pop(0)
    
    def size(self):
        return len(self.items)
    
    def isEmpty(self):
        return self.items == []

In [24]:
d=deque()
d.addFront(1)
d.removeRear()

1

In [25]:
d.addFront(1)
d.removeFront()

1

In [26]:
d.addFront(1)
d.addFront(2)
d.addFront(3)
d.removeFront()==3

True

In [27]:
d.removeRear()==1

True

In [29]:
d=deque()
d.addRear(1)
d.addRear(2)
d.addRear(3)
d.removeFront()==1

True

In [1]:
#singly linked list
#O(1) deletion/insertion
#O(k) find
class Node(object):
    
    def __init__(self,value):
        self.value=value
        self.next=None
        
    def getData(self):
        return self.value
    
    def setData(self,data):
        self.value=data
        
    def getNext(self):
        return self.next
    
    def setNext(self,nextnode):
        self.next=nextnode

In [2]:
class doublylinkedNode(object):
    
    def __init__(self, value):
        
        self.value=value
        self.next=None
        self.prev=None

In [3]:
class Node(object):
    
    def __init__(self,value):
        
        self.value = value
        self.nextnode = None

In [10]:
def cycle_check(node):
    z=node
    while z.nextnode:
        if z.nextnode==node:
            return True
        z=z.nextnode
    return False

In [14]:
a = Node(1)
b = Node(2)
c = Node(3)

a.nextnode = b
b.nextnode = c
c.nextnode = a

cycle_check(a)

True

In [15]:
x = Node(1)
y = Node(2)
z = Node(3)

x.nextnode = y
y.nextnode = z

cycle_check(x)

False

In [47]:
def reverse(head):
    y,z=head,head
    x=None
    while z:
        if z.nextnode:
            z=z.nextnode
            y.nextnode=x
            x=y
            y=z
        else:
            y.nextnode=x
            z=None
    return y

In [48]:
# Create a list of 4 nodes
a = Node(1)
b = Node(2)
c = Node(3)
d = Node(4)

# Set up order a,b,c,d with values 1,2,3,4
a.nextnode = b
b.nextnode = c
c.nextnode = d

In [49]:
print(a.nextnode.value)
print(b.nextnode.value)
print(c.nextnode.value)

2
3
4

In [50]:
reverse(a).value

4

In [51]:
print(d.nextnode.value)
print(c.nextnode.value)
print(b.nextnode.value)

3
2
1

In [52]:
print(a.nextnode.value)

AttributeError: 'NoneType' object has no attribute 'value'

In [119]:
#return the nth to the last node
#at first, we want the distance bewteen first and second to be n
#then, we want to move first and second at the same time until the first reaches one unit away next to the end
def nth_to_last_node(n, head):
    first,second=head,head
    
    while n>0:
        first=first.nextnode
        n=n-1
    
    while first:
        first=first.nextnode
        second=second.nextnode
        
    return second.value

In [120]:
a = Node(1)
b = Node(2)
c = Node(3)
d = Node(4)
e = Node(5)

a.nextnode = b
b.nextnode = c
c.nextnode = d
d.nextnode = e

In [121]:
nth_to_last_node(4, a)

2

In [122]:
nth_to_last_node(5, a)

1

In [6]:
#recursion
#factorial
def f(n):
    if n<=1:
        return 1
    else:
        return n*f(n-1)

In [9]:
f(5)

120

In [10]:
#Write a recursive function which takes an integer and computes the cumulative sum of 0 to that integer
def rec_sum(n):
    if n==1:
        return 1
    else:
        return n+rec_sum(n-1)

In [12]:
rec_sum(100)

5050

In [13]:
432//10

43

In [14]:
#Given an integer, create a function which returns the sum of all the individual digits in that integer. 
#For example: if n = 4321, return 4+3+2+1
def sum_func(n):
    if n<10:
        return n
    else:
        return n%10+sum_func(n//10)

In [20]:
sum_func(1432)

10

In [32]:
#Create a function called word_split() which takes in a string phrase and a set list_of_words. 
#The function will then determine if it is possible to split the string in a way in which words can be made from the list of words. 
#You can assume the phrase will only contain words found in the dictionary if it is completely splittable.
def word_split(phrase, list_of_words, output = None):
    if output is None:
        output=[]
    for i in list_of_words:
        if phrase.startswith(i):
            output.append(i)
            return(word_split(phrase[len(i):], list_of_words, output))
    return output

In [33]:
word_split('ilovedogsJohn',['i','am','a','dogs','lover','love','John'])

['i', 'love', 'dogs', 'John']

In [34]:
def reverse(s):
    if len(s)==1:
        return s
    else:
        return reverse(s[1:])+s[0]

In [35]:
reverse('hello world')

'dlrow olleh'

In [36]:
reverse('123456789')

'987654321'

In [37]:
'abc'[:'abc'.index('a')]

''

In [119]:
def permute(s):
    output=[]
    if len(s)==1:
        output=[s]
    else:
        for i,l in enumerate(s):
            for j in permute(s[:i]+s[i+1:]):
                output+=[l+j]
                
    return output

In [122]:
permute('abc')

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [5]:
def fib_rec(n):
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        return fib_rec(n-2)+fib_rec(n-1)

In [7]:
fib_rec(10)

55

In [100]:
def rec_coin(target,coins):
    
    coins=sorted(coins)[::-1]
    for i in range(len(coins)):
        
        if coins[i]==target:
            return 1
        
        elif coins[i]>target:
            return rec_coin(target, coins[i+1:])
        
        else:
            return 1+rec_coin(target-coins[i],coins[i:])

In [101]:
rec_coin(10,[1,5])

2

In [102]:
coins = [1,5,10,25]
rec_coin(45,coins)

3

In [103]:
rec_coin(23,coins)

5

In [104]:
rec_coin(74,coins)

8